<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.edu.federation.itech3107.studentattendance30395716">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name="au.edu.federation.itech3107.studentattendance30395716.AllActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="au.edu.federation.itech3107.studentattendance30395716.CourseEntryActivity" />
        <activity android:name="au.edu.federation.itech3107.studentattendance30395716.LoginActivity" />
        <activity android:name="au.edu.federation.itech3107.studentattendance30395716.RegisterActivity" />
        <activity android:name="au.edu.federation.itech3107.studentattendance30395716.StudentActivity" />
        <activity android:name="au.edu.federation.itech3107.studentattendance30395716.AttendanceActivity" />
        <activity android:name="au.edu.federation.itech3107.studentattendance30395716.AttendanceTrackerActivity" />
        <activity android:name="au.edu.federation.itech3107.studentattendance30395716.MainActivity" />
    </application>

</manifest>